<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="card">
   <%= form_tag '/users/password' do -%>
      <h2 class="title"> Forgot Password</h2>
      <p class="subtitle">Enter your email address and we’ll send you 
                                     a link to reset your password. </p>
      <br/>
      <br/>
      <br/>
      <div class="email-login">
         <label for="email"> <b>Email</b></label>
         <input type="text" placeholder="Enter Email" name="user[email]" required>
      </div>
      <br/>
      <button class="cta-btn">Get Email !!</button>
      <p class="subtitle">I already have an account! <a href="<%= new_user_session_url %>"> sign in</a></p>
   <% end -%>
</div>