<div id="tasks-Completed">
      <p><b> Completed </b></p>
      <% @todos.each do |todo| %>
        <%if todo.status == 'Completed'%>
          <div class="task completed" id="task_<%= todo.id%>">
              <span id="taskname"> <%= todo.task_name%> </span>
                <button class= "delete" onclick="delete_todo('<%= todo.id%>')" type= 'submit' class="delete">
                  <i class="far fa-trash-alt"></i>
                </button>
          </div>
        <% end %>
      <% end %>
    </div>