<div id="tasks-InProgress">
    <p><b> In Progress </b></p>
    <% @todos.each do |todo| %>
    <% puts "#{todo.status}"%>
    <%if todo.status == 'InProgress'%>
        <div class="task" id = "task_<%= todo.id%>">
            <span id="taskname"> <%= todo.task_name%> </span>
                <button onclick="update_todo('<%= todo.id%>','Completed','Nil')" class= "inprogress" >
                <span>Completed</span>
                </button>
            <button class= "delete"  onclick="delete_todo('<%= todo.id%>')" >
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    <% end %>
    <% end %>
</div>