<div id="tasks">
    <p><b> In Progress </b></p>
    <% @todos.each do |todo| %>
    <%if todo.status == 'InProgess'%>
        <div class="task">
            <span id="taskname"> <%= todo.task_name%> </span>
            <% task_url = "/todos/#{todo.id}"%>
            <%= form_tag task_url,{method: :put} do -%> 
                <button class= "inprogress" type= 'submit' name="todo[status]" value="Completed">
                <span>Completed</span>
                </button>
            <%end -%>
            <%= form_tag task_url,{method: :delete} do -%> 
            <button class= "delete" type= 'submit' class="delete">
                <i class="far fa-trash-alt"></i>
            </button>
            <%end -%>
        </div>
    <% end %>
    <% end %>
</div>