<div id="newtask">
    <p><b> New Task </b></p>
    <input id="task_name" type="text" placeholder="Task to be done" name='todo[task_name]' autofocus/>
    <button id='submit' onclick="create_todo()">Add</button>
</div>