<div id="tasks-Open">
    <p><b> To Do </b></p>
    <% @todos.each do |todo| %>
        <%if todo.status == 'Open'%>
            <div class="task" id = "task_<%= todo.id%>">
                <span id="taskname"> <%= todo.task_name%> </span>
                <button class= "inprogress" onclick="update_todo('<%= todo.id%>','InProgress','Completed')" >
                    <span>In Progress</span>
                </button>
                <button class= "delete"  onclick="delete_todo('<%= todo.id%>')" type= 'submit' class="delete">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        <% end %>
    <% end %>
</div>