<%= stylesheet_link_tag 'todo', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag('todo.js') %>
<div class="container">
    <div id="newtask">
        <input type="text" placeholder="Task to be done" value= 'New Task'/>
        <button id="push">Add</button>
    </div>

    <div id="tasks"></div>


     <%= form_tag '/users/sign_out',{method: :delete} do -%>  
        <button class="signout">Sign Out</button> 
     <%end -%>
  
    
    
</div>